/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.card__icon-button:focus {
  outline: none;
  box-shadow: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--button-accent-color);
}

.like-icon .sparks {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
}

.card__icon-button:hover .like-icon .main-body {
  transition-delay: 0.05s;
  fill: var(--contour-color);
}

.card__icon-button:active .like-icon .core {
  fill: var(--animation-fill-color);
}

.card__icon-button:active .like-icon .main-body {
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon {
  overflow: visible;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-burst 0.3s ease-in 0.3s;
  transform-origin: center;
}

@keyframes sparks-burst {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}