/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image:
    repeating-linear-gradient(to right,
      var(--bg-stripe-color),
      var(--bg-stripe-color) 2px,
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient(to bottom,
      var(--bg-stripe-color),
      var(--bg-stripe-color) 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(to bottom,
      var(--bg-top-color) 0.01%,
      var(--bg-bottom-color) 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-top-color);
}

.header {
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  margin-block-end: 100px;
  padding: 128px 120.5px;
}

.header__title {
  font-family: var(--font-family-accent);
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
}

.card {
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 1);
  margin-bottom: 52px;
  background-color: white;
}

.card__header {
  padding: 5px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' 700;
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  mix-blend-mode: hard-light;
  z-index: 1;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 96% 50%;
  display: block;
}

.card__footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card__text {
  font-size: 18px;
  font-variation-settings: 'wght' 400;
}

.card__button-wrapper {
  height: 38px;
  align-self: end;
  display: flex;
  gap: 4px;
}

.card__icon-button {
  font-family: var(--font-family-accent);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__like-button {
  width: 130px;
  padding: 9px 17px;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-family: var(--font-family-accent);
  font-size: 14px;
  cursor: pointer;
  z-index: 0;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.close-button__text {
  text-transform: uppercase;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
}

.unsaturated {
  filter: saturate(0.3);
}

.heavily-saturated {
  filter: saturate(2.5);
}

.hue-rotated-35 {
  filter: hue-rotate(35deg);
}

.inverted {
  filter: invert(80%);
}

.sepia {
  filter: sepia(90%);
}

.blured {
  filter: blur(20px);
}

.hue-rotated-100--blured--unsaturated--uncontrasted {
  filter: hue-rotate(100deg) blur(3px) saturate(90%) contrast(0.8);
}

.save-button {
  padding: 15px 20px;
  background-color: white;
}

.button__icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  fill: currentColor;
}


.dialog[open] {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: solid 2px black;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__title-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__title {
  width: 234px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__close-button {
  width: 293px;
  height: 38px;
  border: 2px solid black;
}

@media (width <=375px) {
  .header {
    padding: 120px 14px;
  }

  .card__label {
    top: 23px;
    right: 12px;
  }

  .save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .button__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
}